<div class="signout">Welcome <%= @user.display_name %>, <a href="/signout">Signout</a></div>

<div class="container">
  <h2><i class="icon-dropbox"></i> Box Report</h2>
  <p>G'day <%= @user.display_name %>, welcome to your Dropbox dashboard!</p>
  <div class="stats">
    <div id="quota_numbers">
      <p>Your quota is: <%= @user.quota_total %> MB</p>
      <ul>
      	<li><%= @user.quota_normal %> MB used by your files</li>
      	<li><%= @user.quota_shared %> MB used by shared files</li>
        <li>(<%= @user.quota_total - (@user.quota_normal + @user.quota_shared) %> MB Free)</li>
      </ul>
    </div>
    <div id="chart_div_pie"></div>
    <div id="chart_div_gauge"></div>
  </div>
  <p>Get more space by referring people with your link: <a href="<%= @user.referral_link %>"><%= @user.referral_link %></a></p>

	<div class="results">
	  <p>Fetch more detailed data from your dropbox:</p>
	  <a href="/fetch_data" class="btn btn-red" id="fetch">Fetch Data!</a>
	  <p>Warning: This may take a while if you have many (hundreds) of folders...</p>
	</div>
  <div id="spinner"><p style="text-align: center;"><img src="images/spinner.gif" ></p></div>

  <%= erb :data if @user.folders.first  %>
 
 </div>